h1{
	text-align:center;
}

#leftside-display div,
#rightside-display div{
	display:none;
}

#leftside-display div.active,
#rightside-display div.active{
	display:block;
}

#leftside-display div{
	background-color:#8889c9;
}

#leftside-display div,
#rightside-display div img{
	border:3px solid #7b8f8e;
	margin:20px 0 0;
}

#rightside-display div img{
	width:100%;
}

h2{
	font-size:30px;
}

@media(min-width:768px){
h2{
	font-size:40px;
	padding:20px;
}
	
#leftside-display div,
#rightside-display div{
	float:left;
	width:48%;
}


#rightside-display div{
	margin-left:4%;
}
	
}

@media(min-width:820px){
h2{
	font-size:60px;
}
}

#slide-indicator p{
	float:left;
	width:40px;
	height:40px;
	border:3px solid #7b8f8e;
	background-color:lightblue;
	cursor:pointer;
	opacity:0.7;
	font-size:25px;
	line-height:30px;
	text-align:center;
	margin:5px;
}

#slide-indicator p.active{
	opacity:1;
}
